extends layout

block content
  h1 Small changes
  .small_changes
    p.lead There are small changes on this page
    p.color_changes This has a slight change in color
    p.alignment Everything is a little to the right in prod
    p.border_changes The border changes just a little

